<body>

    <%= render 'layouts/header' %>

    <section id="contentcontainer"> <!-- HTML5 section tag for the content 'section' -->

    	<section id="intro">
            <% @greeting = "Welcome" %>
            <% @class = "intro" %>
            <%= render 'layouts/section' %>
    		<h2> <span class="sub">Under Construction</span></h2>

    		<!--<a class="featured" <%= link_to image_tag("featured.gif", alt: "Rails"), 'http://rubyonrails.org/' %> /></a>-->

   		



    	</section>

    	<section id="portfolio"> <!-- HTML5 section tag for the portfolio 'section' -->
            <% @greeting = "Resume" %>
                 <% @class = "portfolio" %>
            <%= render 'layouts/section' %>

    		<ul class="work">
    			
    		</ul>

    	</section>

    	<section id="about"> <!-- HTML5 section tag for the about 'section' -->
            <% @greeting = "About Me" %>
            <% @class = "about" %>
            <%= render 'layouts/section' %>

    		<p>Now this is a story all about how my life got twisted upside down and I'd like to take a minute just sit right there I'll tell you how I became the prince of a town called Bel-Air. In West Philadelphia born and raised on the playground my momma said most of my days chilling out, maxing and relaxing all cool and all shooting some b-ball outside of school when a couple of guys they were up to no good started making trouble in our neighbourhood I got in one little fight and my mom got scared, she said your moving in with your auntie and uncle in Bel-Air</p>

    	</section>

    	<section id="contact"> <!-- HTML5 section tag for the contact 'section' -->

    		<h2 class="contact">Contact Me</h2>

    		<p>I whistled for a cab and when it came near the license plate said fresh and had dice in the mirror, if anything I could say that this cab was rare but I thought nah, <a href="">forget it</a>, yo home to Bel-Air! I pulled up to the house about seven or eight I yelled to the cabbie yo home, smell you later, looked at my kingdom I was finally there to sit on my throne as the prince of Bel-Air</p>

    		<form id="contactform"> 

    			<p><label for="name">Name</label></p>
    			<input type="text" id=name name=name placeholder="First and last name" required tabindex="1" /> 

    			<p><label for="email">Email</label></p>
    			<input type="text" id=email name=email placeholder="example@domain.com" required tabindex="2" /> 

    			<p><label for="comment">Your Message</label></p>
    			<textarea name="comment" id="comment" tabindex="4"></textarea> 

    			<input name="submit" type="submit" id="submit" tabindex="5" value="Send Message" /> 

    		</form> 

    	</section>


    <%= render 'layouts/footer' %>

    </section>

</body>

</html>

